<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			<%= title  %>
		</title>
		<script src="/javascript/jquery-3.2.1.min.js">
		</script>
		<style>
			body {
				font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
			}
			
			a {
				color: #00B7FF;
			}
			
			p {
				margin: 0;
				padding: 0;
			}
			
			form span {
				color: red;
			}
			
			.header-wrap {
				background: #eee;
				padding: 5px;
			}
			
			.header-wrap a {
				text-decoration: none;
				z
			}
			
			.cont-wrap ul {
				list-style: none;
				overflow: hidden;
				padding: 0;
				margin: 0;
			}
			
			.cont-wrap ul li {
				float: left;
			}
			
			.cont-wrap img {
				width: 80px;
			}
			
			.cont-wrap input {
				margin: 10px;
				border-radius: 5px;
				border: none;
				border: solid 1px #aaa;
				padding: 5px;
				width: 260px;
			}
			
			.cont-wrap .seek {
				display: inline-block;
				background: #00B7FF;
				color: white;
				padding: 5px 5px;
				border-radius: 4px;
				cursor: pointer;
			}
			
			td {
				padding: 10px 0;
			}
			
			table,
			th,
			td {
				border: solid 1px #eee;
				border-collapse: collapse;
				text-align: center;
			}
			
			table tr td a {
				display: inline-block;
				text-decoration: none;
				width: 30px;
				background: #eee;
				margin: 5px 0;
			}
			
			table tr img {
				height: 80px;
				width: 80px;
			}
			
			a {
				text-decoration: none;
				margin: 10px;
				display: inline-block
			}
			
			.Img img {
				border: solid 1px #eee;
				padding: 5px;
			}
		</style>
	</head>

	<body>